<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order-list</title>
</head>
<body>
<h2>All Orders</h2>
<table border="1">
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Order type</th>
        <th>Crypto</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.user}"></td>
        <td th:text="${order.orderType}"></td>
        <td th:text="${order.crypto}"></td>
        <td th:text="${order.amount}"></td>
        <td>
            <form th:action="@{/order/delete/{id}(id=${order.id})}" method="POST">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>

</table>
<a href="/order/add">add order</a>
<a href="/main/home">home</a>

</body>
</html>